//Responsive
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

//Colours
$title-colour:#13183F;
$text-colour: #83869A;

//Font-family
$main-font: "Plus Jakarta Sans", sans-serif;
