.info{
    .container{
        background: linear-gradient(180deg, #FFFFFF 0%, #F0F1FF 100%);
        padding-bottom: 20px;
        header{
            background-image: linear-gradient(180deg, #FF6F48 0.04%, #F02AA6 100%);
            padding: 24px 30px;
            @include breakpoint(tablet){
                padding-top: 40px;
            }
            @include breakpoint(desktop){
                font-size: 32px;
                line-height: 40px;
            }
            color: #FCFCFF;
            border-radius: 10px;
            margin-bottom: 50px;
            h2{
                line-height: 32px;
                font-size: 24px;
            }
        }
        
        article {
            position: relative;
            background-color: #FCFCFF;
            border-radius: 10px;
            margin-bottom: 60px;
            padding: 28px;
            span{
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                top:-30px;
                border-radius:50%;
                width: 56px;
                height: 56px;
                background-image: linear-gradient(180deg, #FF6F48 0.04%, #F02AA6 100%);
            }
            h3 {
                font-size: 20px;
                font-weight: 800;
                color: $title-colour;
                @include breakpoint(desktop){
                    font-size: 24px;
                }
            }
            p{
                color:#83869A;
                font-size: 16px;
                font-weight: 500;
                line-height: 26px;
                margin-bottom: 25px;
            }
            a{
                font-size: 18px;
                font-weight: 700;
                color:#F74780;
                text-decoration: none;
            }
        }
    }      
}